## Queensland API Data Extraction

There are two main ways to query the QLD API data:
1. Request the JSON file directly
2. Use the `.../api/...` format that allows query fields e.g. `limit=5`

In [1]:
import pandas as pd
import requests

### 1. Requesting JSON file directly

* This actually only extracts the first 32,000 rows of the database (which has almost 330,000 total)

In [26]:
data_url = 'https://www.data.qld.gov.au/datastore/dump/e88943c0-5968-4972-a15f-38e120d72ec0?format=json'
qld_cc_json = requests.get(data_url).json()
qld_cc = pd.DataFrame(qld_cc_json['records'])
qld_cc.columns = [x['id'] for x in qld_cc_json['fields']]
qld_cc.tail()

,_id,Crash_Ref_Number,Crash_Severity,Crash_Year,Crash_Month,Crash_Day_Of_Week,Crash_Hour,Crash_Nature,Crash_Type,Crash_Longitude_GDA94,...,Count_Casualty_MedicallyTreated,Count_Casualty_MinorInjury,Count_Casualty_Total,Count_Unit_Car,Count_Unit_Motorcycle_Moped,Count_Unit_Truck,Count_Unit_Bus,Count_Unit_Bicycle,Count_Unit_Pedestrian,Count_Unit_Other
31987,31996,31996,Medical treatment,2016,November,Wednesday,15,Angle,Multi-Vehicle,152.350853,...,1,0,1,0,0,0,1,1,0,0
31988,31997,31997,Hospitalisation,2016,November,Thursday,2,Hit object,Single Vehicle,152.966554,...,0,0,1,1,0,0,0,0,0,0
31989,31998,31998,Medical treatment,2016,November,Thursday,7,Rear-end,Multi-Vehicle,153.315322,...,1,0,1,2,0,0,0,0,0,0
31990,31999,31999,Medical treatment,2016,November,Thursday,14,Rear-end,Multi-Vehicle,153.060994,...,1,0,1,2,0,0,0,0,0,0
31991,32000,32000,Medical treatment,2016,November,Thursday,1,Hit object,Single Vehicle,151.643171,...,2,0,2,1,0,0,0,0,0,1

### 2. Using API query

* The API query appears to randomly select results that are returned

* Can use the `limit` field in the URL to specify how many results we want to extract

In [34]:
data_url = 'https://www.data.qld.gov.au/api/3/action/datastore_search?' \
    + 'resource_id=e88943c0-5968-4972-a15f-38e120d72ec0&limit=1000'
qld_cc_json_2 = requests.get(data_url).json()

qld_cc_2 = pd.DataFrame(qld_cc_json_2['result']['records'])
qld_cc_2.tail(10)

,_id,Crash_Ref_Number,Crash_Severity,Crash_Year,Crash_Month,Crash_Day_Of_Week,Crash_Hour,Crash_Nature,Crash_Type,Crash_Longitude_GDA94,...,Count_Casualty_MedicallyTreated,Count_Casualty_MinorInjury,Count_Casualty_Total,Count_Unit_Car,Count_Unit_Motorcycle_Moped,Count_Unit_Truck,Count_Unit_Bus,Count_Unit_Bicycle,Count_Unit_Pedestrian,Count_Unit_Other
990,242804,242804,Medical treatment,2013,May,Thursday,14,Rear-end,Multi-Vehicle,149.190093,...,1,0,1,2,0,0,0,0,0,0
991,242805,242805,Medical treatment,2013,May,Monday,5,Angle,Multi-Vehicle,149.162729,...,1,0,1,1,0,0,0,1,0,0
992,242806,242806,Medical treatment,2013,June,Sunday,15,Angle,Multi-Vehicle,149.190875,...,2,0,2,1,0,0,1,0,0,0
993,242807,242807,Medical treatment,2013,June,Wednesday,6,Fall from vehicle,Single Vehicle,149.153523,...,1,0,1,0,1,0,0,0,0,0
994,242808,242808,Hospitalisation,2013,June,Tuesday,17,Hit object,Single Vehicle,149.198472,...,0,0,1,1,0,0,0,0,0,0
995,242809,242809,Medical treatment,2013,July,Thursday,18,Angle,Multi-Vehicle,149.163640,...,1,0,1,2,0,0,0,0,0,0
996,242810,242810,Medical treatment,2013,July,Tuesday,7,Rear-end,Multi-Vehicle,149.146600,...,1,0,1,1,0,1,0,0,0,0
997,242811,242811,Hospitalisation,2013,August,Monday,14,Angle,Multi-Vehicle,149.192132,...,0,1,2,2,0,0,0,0,0,0
998,242812,242812,Hospitalisation,2013,September,Sunday,17,Hit pedestrian,Hit pedestrian,149.157254,...,0,0,1,1,0,0,0,0,1,0
999,242813,242813,Hospitalisation,2013,October,Thursday,15,Rear-end,Multi-Vehicle,149.173479,...,0,0,1,3,0,0,0,0,0,0

In [32]:
qld_cc_2.tail(10)

,_id,Crash_Ref_Number,Crash_Severity,Crash_Year,Crash_Month,Crash_Day_Of_Week,Crash_Hour,Crash_Nature,Crash_Type,Crash_Longitude_GDA94,...,Count_Casualty_MedicallyTreated,Count_Casualty_MinorInjury,Count_Casualty_Total,Count_Unit_Car,Count_Unit_Motorcycle_Moped,Count_Unit_Truck,Count_Unit_Bus,Count_Unit_Bicycle,Count_Unit_Pedestrian,Count_Unit_Other
990,240886,240886,Medical treatment,2014,December,Friday,8,Angle,Multi-Vehicle,153.383256,...,1,1,2,2,0,0,0,0,0,0
991,240887,240887,Medical treatment,2015,January,Friday,8,Angle,Multi-Vehicle,153.354265,...,1,0,1,2,0,0,0,0,0,0
992,240888,240888,Minor injury,2015,February,Tuesday,15,Rear-end,Multi-Vehicle,153.351596,...,0,1,1,2,0,0,0,0,0,0
993,240889,240889,Hospitalisation,2015,February,Saturday,16,Angle,Multi-Vehicle,153.386413,...,2,0,3,4,0,0,0,0,0,0
994,240890,240890,Medical treatment,2015,March,Thursday,12,Sideswipe,Multi-Vehicle,153.379398,...,1,0,1,1,0,1,0,0,0,0
995,240891,240891,Medical treatment,2015,March,Tuesday,13,Angle,Multi-Vehicle,153.386365,...,1,0,1,2,0,0,0,0,0,0
996,240892,240892,Medical treatment,2015,April,Monday,17,Rear-end,Multi-Vehicle,153.393412,...,1,0,1,2,0,0,0,0,0,0
997,240893,240893,Hospitalisation,2015,April,Friday,11,Angle,Multi-Vehicle,153.363317,...,0,0,1,1,0,0,0,0,0,1
998,240894,240894,Medical treatment,2015,May,Wednesday,7,Rear-end,Multi-Vehicle,153.366481,...,2,0,2,3,0,0,0,0,0,0
999,240895,240895,Minor injury,2015,May,Friday,16,Rear-end,Multi-Vehicle,153.393527,...,0,1,1,2,0,0,0,0,0,0