## Testing API Data Extraction Methods

`requests.get(URL).json()` vs. `urllib.request.urlopen(URL) + json.loads(url.read().decode())`

In [1]:
import pandas as pd
import urllib
import requests
import json

In [2]:
data_url = 'https://www.data.act.gov.au/resource/n2kg-qkwj.json'

In [3]:
%%time
data_cc_1 = requests.get(data_url).json()

Wall time: 1.61 s

In [4]:
%%time
with urllib.request.urlopen(data_url) as url:
    data_cc_2 = json.loads(url.read().decode())

Wall time: 3.17 s

In [5]:
data_cc_1 == data_cc_2

True

In [6]:
data_cc_df = pd.DataFrame(data_cc_1)
data_cc_df.sample(5)

,crash_id,crash_date,crash_time,severity,crash_type,cyclists,cyclist_casualties,reported_location,latitude,longitude,location_1,:@computed_region_h8vr_r9vc
371,1151273,2016-11-29T07:25:00.000,07:25,Injury,Other - Vehicle to Vehicle,1,1,CANBERRA/WOODS INTERSECTION,-35.344036,149.199924,"{'latitude': '-35.344036', 'longitude': '149.1...",NaN
332,1152121,2017-02-01T08:00:00.000,08:00,Property Damage Only,Same direction side swipe,1,0,NORTHBOURNE AVENUE (BARRY / COOYONG -> MCKAY),-35.274631,149.129857,"{'latitude': '-35.274631', 'longitude': '149.1...",24
844,1105008,2014-11-13T06:58:00.000,06:58,Property Damage Only,Right angle collision,1,0,HEARD/MAWSON (SW) INTERSECTION,-35.366677,149.095446,"{'latitude': '-35.366677', 'longitude': '149.0...",70
759,1046534,2012-09-27T11:15:00.000,11:15,Injury,Right angle collision,1,1,MASSON/MCCAUGHEY INTERSECTION,-35.269538,149.123292,"{'latitude': '-35.269538', 'longitude': '149.1...",24
134,1193786,2018-09-27T18:30:00.000,18:30,Property Damage Only,Other - Vehicle to Vehicle,1,0,FAIRFAX/MACARTHUR/MILLER INTERSECTION,-35.258735,149.11523,"{'latitude': '-35.258735', 'longitude': '149.1...",103