## Testing API Data Extraction Methods

`requests.get(URL).json()` vs. `urllib.request.urlopen(URL) + json.loads(url.read().decode())`

In [1]:
import pandas as pd
import urllib
import requests
import json

In [2]:
data_url = 'https://www.data.qld.gov.au/datastore/dump/e88943c0-5968-4972-a15f-38e120d72ec0?format=json'

In [3]:
%%time
data_qld_1 = requests.get(data_url).json()

Wall time: 11.3 s

In [4]:
%%time
with urllib.request.urlopen(data_url) as url:
    data_qld_2 = json.loads(url.read().decode())

Wall time: 13 s

In [5]:
data_qld_1 == data_qld_2

True

In [6]:
data_qld_1.keys()

dict_keys(['fields', 'records'])

In [13]:
data_qld_1['fields'][:2]

[{'type': 'int', 'id': '_id'}, {'type': 'numeric', 'id': 'Crash_Ref_Number'}]

In [14]:
qld_cc = pd.DataFrame(data_qld_1['records'])
qld_cc.columns = [x['id'] for x in data_qld_1['fields']]
qld_cc.sample(5)

,_id,Crash_Ref_Number,Crash_Severity,Crash_Year,Crash_Month,Crash_Day_Of_Week,Crash_Hour,Crash_Nature,Crash_Type,Crash_Longitude_GDA94,...,Count_Casualty_MedicallyTreated,Count_Casualty_MinorInjury,Count_Casualty_Total,Count_Unit_Car,Count_Unit_Motorcycle_Moped,Count_Unit_Truck,Count_Unit_Bus,Count_Unit_Bicycle,Count_Unit_Pedestrian,Count_Unit_Other
3161,3163,3163,Medical treatment,2002,May,Saturday,18,Head-on,Multi-Vehicle,153.295777,...,1,0,1,2,0,0,0,0,0,0
25542,25551,25551,Hospitalisation,2012,February,Monday,11,Angle,Multi-Vehicle,153.030482,...,0,0,2,1,0,1,0,0,0,0
14826,14828,14828,Medical treatment,2007,March,Wednesday,9,Angle,Multi-Vehicle,153.407969,...,3,0,3,2,0,0,0,0,0,0
5016,5018,5018,Medical treatment,2003,February,Friday,15,Rear-end,Multi-Vehicle,150.507233,...,1,0,1,2,0,0,0,0,0,0
7275,7277,7277,Medical treatment,2004,January,Wednesday,5,Hit object,Single Vehicle,149.066009,...,1,0,1,1,0,0,0,0,0,0